@import "styles/mixins";

.app {
  margin: 0;
  padding: 0;
  display: flex;
  width: 610px;
  height: 100%;
  border: 2px solid #f1f1f1;

  &__left {
    flex: 1;
    padding: 1rem;
    width: 370px;
    min-width: 370px;
  }
  &__right {
    padding: 2rem;
    background: #fbfbfb;
  }
}

.address {
  font-family: monospace;
  font-size: 0.5rem;
}
